
body {
  width: 100%;
  height: 100%;
  margin: 0;
  background-image: url("burgs.jpg");
  font-family: 'Oswald', sans-serif;
}

.fa-hamburger {
  margin: 5px;
}

.jumbotron-fluid {
  
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgba(8, 7, 15, 0.555);
  margin-bottom: 5px;
  border: #F9C61F;
  border-style: groove;
}

.display-4, .lead {
  color: #CEE5CB;
  text-align: center;
  margin: 0 auto;
}

.row {
  padding: 5px;  
}

.inner-row {
  display: flex;
  padding: 10px;
  
}

.undevoured-div {
  margin: 2px;
  margin-right: 10px;
  background-color: #F9C61F;
  flex: 50%;
  box-shadow: 2px 2px #08070F;
  
  
}
.devoured-div {
  margin: 2px;
  background-color: #B9111E;
  flex: 50%;
  box-shadow: 2px 2px #08070F;
}


.order-div {
  padding: 5px;

  background-color: #CEE5CB;
  margin-left: 30%;
  margin-right: 30%;
  box-shadow: 2px 2px #08070F;
}


li {
  padding: 5px;
  margin: 5px;
  background: #faebd7;
  box-shadow: 2px 2px #08070F;
  

}

.eaten{
  
  background-color: bisque;
  border: #faebd7 solid 2px;
}


.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
  
}
